body {
  font-family: sans-serif;
  background-color: #4A0808;
}

.container {
  width: 420px;
  margin: 0 auto;
}

h1 {
  color: #E1DB22;
}

.text {
  width: 100%;
  border: 1px solid #E2E2E2;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  color: #252525;
}

.name {
  width: 200px;
  border: 1px solid #E2E2E2;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  color: #252525;
}

.tip {
  border: 1px solid #E2E2E2;
  padding: 10px;
  border-radius: 5px;
  background: #FFFFFF;
  margin-top: 20px;
}
